<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prueba.demo.mapper.DetProductoTerminadoMapper">

	<resultMap id="resListarDetProductoTerminado" type="DetalleProductoTerminado">
			<result property="idDetalleProductoTerminado" 	column="N_DET_PRODUCTO_TERMINADO_PK" />
			<result property="idProductoTerminado" 			column="N_PRODUCTO_TERMINADO" />
			<result property="nro"  	    				column="N_NRO" />
			<result property="codigoLadrillo"      			column="CODIGO_LADRILLO" />
			<result property="descripcionTipoLadrillo"      column="C_TIPO_LADRILLO" />
			<result property="codigoEstado" 		 		column="CODIGO_ESTADO_LADRILLO" />
			<result property="descripcionEstado"			column="C_ESTADO_LADRILLO" />
			<result property="cantidadPaquete"        		column="N_CANTIDAD_PAQUETE" />
			<result property="activo"        				column="N_ACTIVO" />
			<result property="descripcionActivo"        	column="DESC_N_ACTIVO" />
			<result property="cantidadCrudo" 				column="N_CANTIDAD_CRUDO" />
			<result property="crudo" 				 		column="N_CRUDO" />
			<result property="total"			  			column="N_TOTAL" />
			<result property="idVenta"			  			column="N_DET_VENTA" />
	</resultMap>

	<resultMap id="resListarDetProductoTerminadoVenta" type="DetalleProductoTerminado">
			<result property="idDetalleProductoTerminado" 	column="N_DET_PRODUCTO_TERMINADO_PK" />
			<result property="idProductoTerminado" 			column="N_PRODUCTO_TERMINADO" />
			<result property="cantidadPaquete" 				column="N_CANTIDAD_PAQUETE" />
			<result property="crudo"        				column="N_CRUDO" />
			<result property="cantidadCrudo"        		column="N_CANTIDAD_CRUDO" />
			<result property="total"			  			column="N_TOTAL" />
			<result property="codigoLadrillo"      			column="CODIGO_TIPO" />
			<result property="descripcionTipoLadrillo"      column="DESC_TIPO" />
			<result property="codigoEstado" 		 		column="CODIGO_ESTADO" />
			<result property="descripcionEstado"			column="DESC_ESTADO" />
			<result property="codigo"						column="C_CODIGO" />
			<result property="utilizado"				    column="N_UTILIZADO"/>
	</resultMap>

	<resultMap id="resListarDetProductoTerminadoVenta2" type="DetalleProductoTerminado">
			<result property="idDetalleProductoTerminado" 	column="N_DET_PRODUCTO_TERMINADO_PK" />
			<result property="idProductoTerminado" 			column="N_PRODUCTO_TERMINADO" />
			<result property="utilizado"				    column="N_UTILIZADO"/>
	</resultMap>
	
    <select id="registrarDetProductoTerminado" parameterType="com.prueba.demo.core.model.DetalleProductoTerminado" statementType="CALLABLE"
			>
		{CALL sp_det_producto_terminado_ins(
			#{idDetalleProductoTerminado, jdbcType = INTEGER, mode = IN},
			#{idProductoTerminado, jdbcType = INTEGER, mode = IN},
			#{nro, jdbcType = INTEGER, mode = IN},
			#{descripcionTipoLadrillo, jdbcType = VARCHAR, mode = IN},
			#{estado, jdbcType = VARCHAR, mode = IN},
			#{cantidadPaquete, jdbcType = INTEGER, mode = IN},
			#{activo, jdbcType = INTEGER, mode = IN},
			#{usuarioCreacion, jdbcType = INTEGER, mode = IN},
			#{cantidadCrudo, jdbcType = INTEGER, mode = IN},
			#{total, jdbcType = INTEGER, mode = IN},
			#{crudo, jdbcType = INTEGER, mode = IN},
			#{resultado, jdbcType = INTEGER, mode = OUT}
		)
		}
	</select>

	<select id="listarDetProductoTerminado" parameterType="com.prueba.demo.core.model.DetalleProductoTerminado" statementType="CALLABLE"
			resultMap="resListarDetProductoTerminado">
		{CALL sp_det_producto_terminado_lis(
			#{idDetalleProductoTerminado, jdbcType = INTEGER, mode = IN},
			#{idProductoTerminado, jdbcType = INTEGER, mode = IN}
		)
		}
	</select>

	<select id="eliminarDetProductoTerminado" parameterType="com.prueba.demo.core.model.DetalleProductoTerminado" statementType="CALLABLE">
		{CALL sp_det_producto_terminado_eli(
			#{idDetalleProductoTerminado, jdbcType = INTEGER, mode = IN},
			#{usuarioElimina, jdbcType = INTEGER, mode = IN},
			#{resultado, jdbcType = INTEGER, mode = OUT}
		)
		}
	</select>

	<select id="listarDetProductoTerminadoVenta" parameterType="com.prueba.demo.core.model.DetalleProductoTerminado" statementType="CALLABLE"
			resultMap="resListarDetProductoTerminadoVenta">
		{CALL sp_det_producto_terminado_lisVenta(
			#{idDetalleProductoTerminado, jdbcType = INTEGER, mode = IN},
			#{idProductoTerminado, jdbcType = INTEGER, mode = IN},
			#{codigoLadrillo, jdbcType = VARCHAR, mode = IN},
			#{codigoEstado, jdbcType = VARCHAR, mode = IN}
		)
		}
	</select>

	<select id="listarDetProductoTerminadoVenta2" parameterType="com.prueba.demo.core.model.DetalleProductoTerminado" statementType="CALLABLE"
			resultMap="resListarDetProductoTerminadoVenta2">
		{CALL sp_det_producto_terminado_lisVenta2(
			#{idDetalleVenta, jdbcType = INTEGER, mode = IN}
		)
		}
	</select>

	<select id="actualizarUtilizado" parameterType="com.prueba.demo.core.model.DetalleProductoTerminado" statementType="CALLABLE"
			>
		{CALL sp_det_producto_terminado_actUtilizado(
			#{idDetalleProductoTerminado, jdbcType = INTEGER, mode = IN},
			#{utilizado, jdbcType = INTEGER, mode = IN}
		)
		}
	</select>

	<select id="restarUtilizado" parameterType="com.prueba.demo.core.model.DetalleProductoTerminado" statementType="CALLABLE"
			>
		{CALL sp_det_producto_terminado_restUtilizado(
			#{idDetalleProductoTerminado, jdbcType = INTEGER, mode = IN},
			#{utilizado, jdbcType = INTEGER, mode = IN}
		)
		}
	</select>
	
</mapper>