<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prueba.demo.mapper.ParametroMapper">

	<resultMap id="resParametro" type="Parametro">
		<result property="idParametro" 	    column="N_PARAMETRO_PK" />
		<result property="codigo" 	        column="C_CODIGO" />
        <result property="descripcion"  	column="C_DESCRIPCION" />
        <result property="activo"           column="N_ACTIVO" />
        <result property="usuarioCreacion"  column="C_USUARIO_CREACION" />
        <result property="fechaCreacion"  	column="D_FECHA_CREACION" />
  
	</resultMap>

	<select id="getListaParametro" resultMap="resParametro">
		  
			SELECT 
            N_PARAMETRO_PK,
            C_CODIGO,
            C_DESCRIPCION,
            N_ACTIVO,
            C_USUARIO_CREACION,
            D_FECHA_CREACION
            FROM  ceramica.parametro;
	</select>

	 
</mapper>