<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prueba.demo.mapper.QuemaProductoMapper">

	<resultMap id="resListarQuemaProducto" type="QuemaProducto">
			<result property="idQuemaProducto" 	    column="N_QUEMA_PRODUCTO_PK" />
			<result property="descFechaRegistro" 	column="C_FECHA_REGISTRO" />
			<result property="descHorno"  	    	column="DESCRIPCION_HORNO" />
			<result property="cantidadPaquete"      column="N_CANTIDAD_PAQUETE" />
			<result property="codigo"        		column="C_CODIGO" />
			<result property="descripcionEstado"  	column="DESC_N_ACTIVO" />
			<result property="activo"			  	column="N_ACTIVO" />
			<result property="horno"			  	column="C_HORNO" />
			<result property="fechaRegistro"		column="D_FECHA_REGISTRO" />
			<result property="descFechaInicio"      column="C_FECHA_INICIO" />
			<result property="descFechaFin"  	    column="C_FECHA_FIN" />
			<result property="observacion"  	    column="C_OBSERVACION" />
			<result property="turno"  	    		column="C_TURNO" />
	</resultMap>

	<select id="registrarQuemaProducto" parameterType="com.prueba.demo.core.model.QuemaProducto" statementType="CALLABLE"
			>
		{CALL sp_quema_producto_ins(
			#{idQuemaProducto, jdbcType = INTEGER, mode = INOUT},
			#{fechaRegistro, jdbcType = DATE, mode = IN},
			#{turno, jdbcType = VARCHAR, mode = IN},
			#{horno, jdbcType = VARCHAR, mode = IN},
			#{cantidadPaquete, jdbcType = INTEGER, mode = IN},
			#{observacion, jdbcType = VARCHAR, mode = IN},
			#{activo, jdbcType = INTEGER, mode = IN},
			#{usuarioCreacion, jdbcType = INTEGER, mode = IN},
			#{resultado, jdbcType = INTEGER, mode = OUT},
			#{codigo, jdbcType = VARCHAR, mode = INOUT}
		)
		}
	</select>

	<select id="eliminarQuemaProducto" parameterType="com.prueba.demo.core.model.QuemaProducto" statementType="CALLABLE"
			>
		{CALL sp_quema_producto_eli(
			#{idQuemaProducto, jdbcType = INTEGER, mode = IN},
			#{activo, jdbcType = INTEGER, mode = IN},
			#{usuarioElimina, jdbcType = INTEGER, mode = IN},
			#{resultado, jdbcType = INTEGER, mode = OUT}
		)
		}
	</select>

	<select id="listarQuemaProducto" parameterType="com.prueba.demo.core.model.QuemaProducto" statementType="CALLABLE"
			resultMap="resListarQuemaProducto">
		{CALL sp_quema_producto_lis(
			#{idQuemaProducto, jdbcType = INTEGER, mode = IN},
			#{fechaInicio, jdbcType = DATE, mode = IN},
			#{fechaFin, jdbcType = DATE, mode = IN},
			#{horno, jdbcType = VARCHAR, mode = IN}
		)
		}
	</select>

</mapper>