<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prueba.demo.mapper.ReportesMapper">
	<resultMap id="reporteProductoInicial" type="ReporteProductoInicial">
			<result property="fechaRegistroDesc" 	   	column="C_FECHA_REGISTRO" />
			<result property="prensaDesc"  	    		column="C_PRENSA" />
			<result property="tipoLadrilloDesc"         column="C_TIPO_LADRILLO" />
			<result property="cantidadProducido"        column="N_CANTIDAD_PRODUCIDO" />
			<result property="cantidadEstimada"  	    column="N_CANTIDAD_ESTIMADA" />
			<result property="codigoProductoInicial"  	column="CODIGO_PRODUCTO_INICIAL" />
	</resultMap>


	<select id="getReporteProductoInicial" parameterType="com.prueba.demo.core.model.ReporteProductoInicial" statementType="CALLABLE"
			resultMap="reporteProductoInicial">
		{CALL sp_reporte_producto_inicial_(
			#{idProductoInicial, jdbcType = INTEGER, mode = IN},
			#{fechaInicio, jdbcType = DATE, mode = IN},
			#{fechaFin, jdbcType = DATE, mode = IN},
			#{prensa, jdbcType = VARCHAR, mode = IN},
			#{tipoLadrillo, jdbcType = VARCHAR, mode = IN}
		)
		}
	</select>


	 
</mapper>