<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.prueba.demo.mapper.VentaMapper">

	

	<select id="registrarVenta" parameterType="com.prueba.demo.core.model.Venta" statementType="CALLABLE"
			>
		{CALL sp_venta_ins(
			#{idVenta, jdbcType = INTEGER, mode = INOUT},
			#{fechaRegistro, jdbcType = DATE, mode = IN},
			#{tipoDocumento, jdbcType = VARCHAR, mode = IN},
			#{metodoPago, jdbcType = VARCHAR, mode = IN},
			#{pendienteRecojo, jdbcType = INTEGER, mode = IN},
            #{costoTotal, jdbcType = INTEGER, mode = IN},
            #{razonSocial, jdbcType = VARCHAR, mode = IN},
            #{nombres, jdbcType = VARCHAR, mode = IN},
            #{apellidoPaterno, jdbcType = VARCHAR, mode = IN},
            #{apellidoMaterno, jdbcType = VARCHAR, mode = IN},
            #{tipoVehiculo, jdbcType = VARCHAR, mode = IN},
            #{placaVehiculo, jdbcType = VARCHAR, mode = IN},
			#{estadoVenta, jdbcType = VARCHAR, mode = IN},
            #{observacion, jdbcType = VARCHAR, mode = IN},
			#{activo, jdbcType = INTEGER, mode = IN},
			#{usuarioCreacion, jdbcType = INTEGER, mode = IN},
			#{resultado, jdbcType = INTEGER, mode = OUT}
		)
		}
	</select>


</mapper>